<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resumen de Transacciones</title>
    <link rel="stylesheet" href="cid:styles">
</head>
<body>
<header>
    <img src="cid:logo" alt="Logo">
    <h1>Resumen de Transacciones</h1>
</header>
<main>
    <section>
        <h2>Detalles</h2>
        <p>Saldo total: {{ .TotalBalance }}</p>
        <p>Número de transacciones:</p>
        <ul>
            {{ range $month, $transactions := .TransactionsByMonth }}
            <li>{{ $month }}: {{ len $transactions }} transacciones</li>
            {{ end }}
        </ul>
        <p>Monto promedio de débitos:</p>
        <ul>
            {{ range $month, $average := .AverageDebitByMonth }}
            <li>{{ $month }}: {{ $average }}</li>
            {{ end }}
        </ul>
        <p>Monto promedio de créditos:</p>
        <ul>
            {{ range $month, $average := .AverageCreditByMonth }}
            <li>{{ $month }}: {{ $average }}</li>
            {{ end }}
        </ul>
    </section>
</main>
<footer>
    <p>&copy; 2023 Stori</p>
</footer>
</body>
</html>
